.board-show-title {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  font-size: 25px;
}

.board-show-description {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  font-size: 18px;
  font-weight: 500;
}

// .board-show-buttons {
//   display: flex;
//   justify-content: center;
//   margin-top: 10%;
// }

// i.fa.fa-map-pin.board-show.icon {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-size: 25px;
//   color: #9c9b9b;
//   border-radius: 50%;
//   font-weight: lighter;
// }

.board-show {
  margin-top: 10%;
}

.board-show-icon{
  display: flex;
  justify-content: center;
}

