div#profile-content-container {
  display: block;
  margin-left: 10%;
}

.board-box,
.board-cover {
  display: inline-block;
  border: 1px solid lightgray;
  width: 250px;
  height: 245px;
  border-radius: 18px;
}

ul.board-tab {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.board-index {
  margin: 1.5%;
}

.pins-amount {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  margin-left: 4%;
}

.board-title {
  font-size: 18px;
  margin: 3% 0 1% 4%;
}

.board-cover:hover {
  cursor: pointer;
}