.delete-board-container {
  display: block;
  width: 540px;
  height: 278px;
  border-radius: 11px;
  background: white;
} 

.delete-board-form {
  width: 100%;
  flex: 1 1 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.delete-board-header{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.delete-board-form-title{
  font-size: 24px;
  padding: 10px;  
}

.delete-board-message{
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
}

.delete-board-footer{
  box-sizing: border-box;
  max-width: 100%
}

.delete-board-buttons{
  padding: 22px; 
}

.delete-board-cancel-button{
  box-sizing: border-box;
  padding: 12px;
  outline: none;
  border: 0;
  font: inherit;
  display: block;
  background: #e6e2e2;
  border-radius: 15px;
  color: #111111;
  margin: 5px; 
  width: 90%;
}

.delete-board-cancel-button:hover{
  cursor: pointer;
  background: darkgray;
}

.delete-board-delete-button{
  box-sizing: border-box;
  padding: 12px;
  outline: none;
  border: 0;
  font: inherit;
  display: block;
  background: #f9778b;
  border-radius: 15px;
  color: white;
  margin: 5px; 
  width: 90%; 
}

.delete-board-delete-button:hover{
  cursor: pointer;
  background:#c3828c;
}