.board-edit-container{
  display: block;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 11%;
  background: white;
  width: 450px;
  min-width: 500px;
}

h1.board-edit-form {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  word-spacing: 0.2px;
}

.board-edit-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.board-edit-name{
  display: flex;
  flex-direction: column;
}

.bottom-options-list {
  display: flex;
  justify-content: space-between;
}

button.bottom-delete,
button.create-cancle {
  box-sizing: border-box;
  padding: 12px;
  outline: none;
  border: 0;
  font: inherit;
  display: block;
  background: #e6e2e2;
  border-radius: 15px;
  color: #111111;
  margin: 5px;
}

button#save-board {
  box-sizing: border-box;
  padding: 12px;
  outline: none;
  border: 0;
  font: inherit;
  display: block;
  background: #f9778b;
  border-radius: 15px;
  color: white;
  margin: 5px; 
}



button.bottom-delete:hover,
button.create-cancle:hover {
  cursor: pointer;
  background: darkgray;
}

button#save-board:hover {
  cursor: pointer;
  background:#c3828c;  
}

.bottom-options-left {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px;
}

.board-edit-save-or-cancel {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}