.pins-container {
  padding: 20px;
  margin: 100px 28px 28px 28px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pin-link {
  margin: 5px;
  padding: 10px;
  border: 0;
  width: 300px;
  height: 366px;
}
.pin-index-photo {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border-radius: 24px;   
  object-fit: cover;
}

.pin-index-title{
  visibility: hidden;
}

.pin-index-photo:hover {
  cursor: zoom-in;
  filter: brightness(95%);
}