.pin-show-outside-container:hover {
  cursor: zoom-out;
}

.pin-show-container:hover {
  cursor: default;
}

.pin-show-container{
  margin-top: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 80%;
  width: 78%;
  border-radius: 4%;
  margin: auto;
  margin-top: 10%;
}

.pin-show-item-photo{
  width: 100%;
  height: 450px;
  border-radius: 16px;
}

.pin-show-box-left{
  width: 885px;
  max-height: 750px;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.pin-show-box-right{

  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  padding-left: 5%;
}

.pin-show-title{
 box-sizing: border-box;
 margin-top: 66px;
 font-size: 36px;
 font-weight: 700;
 text-align: left;
 hyphens: auto;
 overflow-wrap: break-word;
 letter-spacing: -0.4px;
}

.pin-show-user{
 margin-top: 100px;
}

.pin-show-username{
  font-size: 20px;
}

.pin-show-description{
 margin-top: 175px;
 font-size: 18px;
 font-weight: 400;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-align: left;
 hyphens: auto;
 overflow-wrap: break-word;
 letter-spacing: -0.4px;
 -webkit-font-smoothing: antialiased;
 color: rgb(51, 51, 51); 
}

.pin-goback {
  color: #333333;
  position: absolute;
  top: 120px;
  left: 50px;
  font-size: 24px;
  padding: 12px;
}

.fa.fa-arrow-left:hover {
 background-color: lightpink;
 border-radius: 24px;
 cursor: pointer;
 padding: 12px;
}