.pin-create-container{
  margin-top: 150px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.pin-create-box{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 40px;
  width: 870px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 1px 1px 10px #e0e0e0;
}

.pin-create-content {
  display: flex;
  justify-content: center;
}

.pin-create-content .create-pin-image{
  width: 50%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.pin-image-context {
  background-color: rgb(231, 230, 230);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 454px;
}

// .create-pin-category{
//   padding-left: 20px;
//   padding-right: 20px;
// }
.pin-upload{
  display: flex;
  align-items: center;
  margin: 10px;
}
.fa-arrow-circle-up:before {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: gray;
  cursor: pointer;
}  

.pin-upload-text{
  padding: 10px;
  font-size: 18px;
}

.image-upload{
  display: none;
  width: 0.1px;
	height: 10.1px;
}

.pin-image-context{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 450px;
  padding: 10px;
  border: 2px dashed lightgray;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(233, 233, 233);
  position: relative;
}

.pin-image-context{
  font-size: 40px;
  color: rgb(107, 107, 107); 
}
.create-pin-input{
  display: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  height: 100px;
  box-sizing: border-box;
}

.pin-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}

.pin-title textarea{
  height: 43px;
  white-space: pre-wrap;
  font-size: 36px;
  font-weight: 700;
  appearance: none;
  background-color: transparent;
  overflow: auto;
  resize: none;
  width: 100%;
  border-style: none;
  border-color: transparent;
  caret-color: darkgray;
  border-bottom: 1px solid lightgray;
}

textarea.pin-title-update:focus {
  outline: none;
  border-bottom: 1.5px solid rgb(158, 220, 199);
}

.pin-description {
  align-items: center;
  min-height: 40px;
  margin-top: 24px;
  width: 100%;
}

textarea.pin-details {
  line-height: 1.5;
  padding: 8px 6px;
  resize: none;
  appearance: none;
  border-width: 2px;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
  margin-top: 6px;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 1px solid lightgray ;
}

textarea.pin-details:focus {
  outline: none;
  border-bottom: 1.5px solid rgb(158, 220, 199);
  appearance: none;
}

.pin-image.show > img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 340px;
  height: 450px;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

#pin-background {
  text-align: center;
}

.fa-trash-o:before {
  content: "\f014";
  display: block;
  padding-top: 76%;
  font-size: 22px;
}

.fa-trash-o:hover {
  cursor: pointer;
}

.pin-demo-user {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 30px 0px;
  font-size: 26px;
}

.demo-name {
  font-size: 24px;
  padding-left: 8px;
}