
.cat-photo{
  max-width: 54%;
  cursor: pointer;
  border-radius: 100%;
}
.profile-container{
  margin-top: 100px;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-container .profile-box{
  width: 800px;
  display: flex;
  flex-direction: column;
}

.profile-box .profile-icon{
  margin-top: 26px;
  display: flex;
  height: 50px;
  width: 100%;
}

.profile-box .profile-info-box{
  display: flex;
  width: 100%;
}

.profile-info-box .profile-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.profile-name{
  font-size: 36px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica;
}

.profile-description {
  padding-top: 5px;
  font-size: 14px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica;
}

.profile-nav-button{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
  margin-left: 10%;
}

.profile-nav-button .button{
  text-decoration: none;
  font-size: 18px;
  padding: 14px;
  margin: 10px;
  border-radius: 30px;
  box-sizing: border-box;
  width: auto;
}

.profile-nav-button .button:hover{
  cursor: pointer;
  color: white;
  background-color: black;
}

.fa.fa-plus{
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 25px;
  color:#9c9b9b;
  border-radius: 50%;
  font-weight: lighter;
}

.fa.fa-pencil {
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 25px;
  color:#9c9b9b;
  border-radius: 50%;
  font-weight: lighter;
}

.fa.fa-plus:hover{
  cursor: pointer;
  background-color: light pink;
  border-radius: 50%;
}

.fa.fa-pencil:hover {
  cursor: pointer;
  background-color: light pink;
  border-radius: 50%; 
}
///
.create-icon {
  position: relative;
  cursor: pointer;
}

.drop-down {
  position: absolute;
  display: block; 
  cursor: pointer;
  text-align: left;
  background-color: white;
  border-radius: 7px;
  font-size: 18px;
  left: 9px;
  top: 30px;
  width: 200px;
  min-width: 180px;
  max-width: 360px;
  padding: 12px 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
}

.drop-down:hover {
  background-color: white;
}

.hidden {
  display: none;
}

.create-board-tab {
  display: block;
  margin: 5px;
  padding: 8px;
}

a.create-pin-tab {
  display: block;
  margin: 5px;
  padding: 8px;
}

.create-board-tab:hover {
  background-color: #e9e9e9;
  border-radius: 12px;
}

a.create-pin-tab:hover {
  background-color: #e9e9e9;
  border-radius: 12px;
}

div#profile-switches-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 24%;
}

div#profile-switch-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
  margin-left: 50px;
}

.profile-switch-link-label {
  text-decoration: none;
  font-size: 18px;
  padding: 8px 14px;
  margin: 8px;
  border-radius: 30px;
  box-sizing: border-box;
  width: auto;
}

.profile-switch-link-label:hover {
  cursor: pointer;
  color: white;
  background-color: black; 
}

#profile-demo-icon{
  font-size: 102px;
  color: #747474;
  cursor: pointer;  
}