
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form-side-button {
  display: block;
  position: fixed;
  left: -200px;
  top: 84px;
  font-size: 16px;
  font-weight: 700;
  background-color: white;
  border: 0;
  min-height: 40px;
  width: 128px;
  border-radius: 24px;
  z-index: 1;
  outline: none;
}

.form-side-button:hover {
  filter: brightness(95%);
  cursor: pointer;
}

.session-form-logo {
  width: 25%;
  height: auto;
}

.session-form-box{
  background-color: white;
  width: 450px;
  min-height: 400px;
  padding: 20px 10px 24px;
  margin: auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
}

.form-pops {
  display: block;
  background-color: white;
  padding: 48px;
  border-radius: 20px;
}

form {
  width: 300px;
}

.form-header  h1 {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -1.3px;
  margin-top: 5px;
  margin-bottom: 15px;
  white-space: nowrap;
}

header h3 {
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 30px;
}

.form {
  display: inline-block;
}

.input {
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 16px;
  margin-bottom: 6px;
  min-height: 48px;
  padding: 10px 16px;
  font-size: 16px;
  width: 95%;
  outline: none;
}

.input:hover {
  border: 2px solid rgb(205, 205, 205);
}

.input:focus {
  border: 4px solid rgb(158, 220, 199);
}

.form-button,
.demo-login {
  border: 0px;
  height: 36px;
  border-radius: 24px;
  padding: 0px 18px;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
  background-color: rgb(243, 87, 139);
  color: white;
  width: 95%;
}

.demo-login {
   background-color:  rgb(253, 163, 177);
}

.form-button:hover,
.demo-login:hover {
  filter: brightness(80%);
}

.to-other-form {
  font-weight: bold;
  margin-top: 12px;
  font-size: 14px;
}

.render-errors {
  min-height: 1.3em;
}

.errors {
  font-size: 12px; 
  color: red;
  font-weight: lighter;
  min-height: 1.3em;
}

.jinterest-logo {
  width: 42px;
  max-height: 90px;
}

.form-pops {
  cursor: default;
}



